.sr-path-subtree {
    padding-left: 20px;
}

.sr-path-tree {
    width: 300px;
}

.sr-simulation-browser-thumbnail {
    width: 100px;
    height: 100px;
}

.sr-simulation-browser-thumbnails {

    flex-grow: 1;
}

.sr-simulation-browser {
}